<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express and EJS</title>
  </head>
  <body>
    <h1>Tomas Page <%='helloworld'%></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint dicta
      delectus optio magni veritatis recusandae fugiat? Ad quis rem, sequi
      magnam vitae vel, animi nesciunt quibusdam blanditiis provident cumque
      quo?
    </p>
  </body>
</html>
